<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTML-CSS Template</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      "
    >
      <h1>Welcome to the HTML-CSS Project</h1>
      <br />
      <img src="./assets/GUB-Campus.jpg" alt="GUB" height="400" width="700" />
    </div>
  </body>
</html>
